:root {
    --bgClr: whitesmoke;
    --ClrLink: blue;
    --ClrLinkHover: rgb(11, 11, 80);
    --ClrMovieBtnHover: rgb(50, 50, 164);
    --ClrMovieBg: rgb(202, 202, 243);
    --ClrBorder:#720707;
   --BtnClr:rgb(194, 69, 69);
   --BtnClrHover:rgb(243, 133, 133);
   --ClrErr:red;
   --ClrLogo:rgb(244, 244, 104);

}